@import 'keyframes';

$red: #dc3546;
$semi-transparent: rgba(255, 255, 255, .7);
$blue: #86b3ea;


/*
    z-index
*/
$download-btn: 90;
$filters-list: 90;
$menu: 100;
$player: 105;
$popup-container: 200;
$blur-bg: 205; // 215 через js, если открыт $create-album
$file-popup: 210;
$upload-error: 400;
$create-album: 220;
$saving: 305;
$saved: 310;

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    margin: 0;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main {
    height: 100%;
    padding-top: 60px;
    overflow-y: auto;

}

.element-is-collapsed {
    display: none;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $popup-container;
}

/* main navigation */

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    background-color: $red;
    z-index: $menu;
    transition: 1s linear;

    &__brand {
        display: block;
        width: 60px;
        height: 60px;
        margin-left: 15px;
    }

    &__toggler {
        margin-right: 15px;
        flex-basis: 50px;
        height: 38px;
        background-color: transparent;
        border: 2px solid $semi-transparent;
        border-radius: 5%;
        cursor: pointer;
        transition: 1s linear;
    }

    &__toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        background-size: 100% 100%;
    }

    &__wrapper {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 15px;
        border-left: 1px solid $semi-transparent;
        border-right: 1px solid $semi-transparent;
        border-bottom: 1px solid $semi-transparent;
        transition: 1s linear;
    }

    &__nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        transition: 1s linear;

        &__item {
            padding: 0 8px;
            color: $semi-transparent;
            transition: 1s linear;

            & a {
                margin-bottom: 5px;
                padding: 5px 8px;
                color: inherit;
                text-decoration: none;
                border-radius: 5px;
                transition: linear .2s;

                &:hover {
                    color: $red;
                    background-color: white;
                    cursor: pointer;
                }
            }

            &--active {
                & a {
                    color: $red;
                    background-color: white;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .main-nav {

        &__brand {
            margin-left: 0;
        }

        &__wrapper {
            display: flex;
            flex-basis: 0;
            border: none;
        }

        &__nav {
            flex-direction: row;

            &__item {
                margin: 0 15px 0 0;
                padding: 0;

                & a {
                    margin-bottom: 0
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

/////// INDEX ///////

.index {
    height: 100%;
    background-color: $red;

    &__bg-logo {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__drop-box {
        position: relative;
        display: block;
        margin-top: 70px;
        padding: 25px;
        width: 100%;
        height: 100px;
        border: 2px dashed ghostwhite;
        cursor: pointer;

        &__hidden-field {
            display: none;
        }

        &__text, &__warning {
            display: block;
            margin: 0;
            text-align: center;
            color: ghostwhite;
            font-size: 13px;
        }

        &__warning {
            font-size: 12px;
        }

        &__text {
            margin-bottom: 10px;
        }

        &__progress-bar {
            display: none;
        }

        &__virtual-progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: #8cbbf3 url("../images/clouds.jpeg") 0 0;
            animation: 25s linear infinite move-back;
            overflow: hidden;
            z-index: 10;

            &__car {
                position: absolute;
                display: block;
                top: 10px;
                left: 0;
                height: 100%;
                width: 100%;
                background:  url("../images/car.png") 0 0 no-repeat;
                transition: .5s linear;
                z-index: 15;
            }
        }
        
        @media (min-width: 768px) {
            &__text {
                font-size: 15px;
            }

            &__warning {
                font-size: 13px;
            }
        }

        @media (min-width: 992px) {
            &__text {
                font-size: 16px;
            }

            &__warning {
                font-size: 14px;
            }
        }
    }

    &__upload-error {

        z-index: $upload-error;
        &__text {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            padding: 50px 40px 20px 10px;
            max-width: 350px;
            font-size: 15px;
            text-align: center;
            background-color: #eee;
            border: 2px solid $red;
            border-radius: 5px;
            z-index: $upload-error;
        }

    }
}

/////// FILE POPUP ///////

.file-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-47%, -50%);
    padding: 20px 10px 10px;
    max-width: 520px;
    background-color: white;
    border-radius: 5px;
    z-index: $file-popup;


    &__file-icon {
        margin: 0 0 10px 15px;
        width: 60px;
        height: 60px;
        overflow: hidden;
    }

    &__file-info {
        margin-bottom: 15px;

        &__name {
            margin: 0;
        }

        &__info {
            margin: 10px 0 0;
            font-size: 14px;
            color: grey;
        }
    }

    &__file-album {
        margin-bottom: 20px;

        &__label {
            padding-top: auto;
            padding-right: 10px;
            font-size: 14px;
            line-height: 26px;

        }

        &__current {
            padding: 5px;
            font-size: 12px;
            border: 1px solid $blue;
        }

        & select, & select option {
            font-size: 14px;
        }
    }

    &__file-comment {
        margin-bottom: 20px;

        &__area {
            border: 1px solid #ccc;
            padding: 7px;
            width: 100%;
        }

        &__title {
            display: block;
            margin-bottom: 7px;
            font-size: 14px;
        }

        &__added-comment {
            font-size: 12px;
        }
    }

    &__btn {
        margin: 0 15px 20px;
        padding: 7px;
        width: 100%;
        border: 2px solid $blue;
        background: white;
        transition: linear .2s;

        &:hover {
            color: #fff;
            background-color: $blue;
        }

        &:active {
            background-color: #7099c9;
        }
    }
}

.controls {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 75px;
    width: 34px;

    &__close {
        position: relative;
        display: block;
        width: 34px;
        height: 34px;
        opacity: .3;
        transition: linear .2s;

        &:hover {
            transition: linear .2s;
            opacity: 1;
        }

        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 17px;
            height: 33px;
            width: 2px;
            background-color: #333;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &--outer {
        position: absolute;
        top: -35px;
        right: 10px;
        height: 34px;
        width: 34px;
        z-index: 1000;
    }
}

.blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: $blur-bg;
}

@media (max-width: 576px ) {
    .file-popup {
        top: 25%;
        left: 0;
        right: 0;
        margin: 0 15px;
        transform: none;
        padding: 20px 10px 10px;
        max-width: none;
        font-size: 12px;
        background-color: white;
        border-radius: 5px;
        z-index: $file-popup;

        &__file-info {
            &__name {
                font-size: 14px;
            }

            &__info {
                font-size: 12px;
            }
        }
    }
}

/////// CREATE ALBUM ///////

.create-album {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 30px 10px 10px;
    max-width: 350px;
    background-color: #eee;
    border-radius: 5px;
    z-index: $create-album;

    &__label {
        font-size: 14px;
    }

    &__field {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
    }

    &__create-btn {
        padding: 0 10px;
        height: 27px;
        font-size: 13px;
        cursor: pointer;
        color: #777;
        background-color: white;
        border: 2px solid $blue;
        transition: linear .2s;

        &:hover {
            color: #fff;
            background-color: $blue;
        }

        &:active {
            background-color: #7099c9;
        }
    }
}

/////// FILES ///////
.files {

    &__upload {
        margin: 10px auto;
        height: 94px;
        border: 1px solid #ccc;
        background-color: #fbfcfe;

        &__label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        &__btn {
            display: block;
            margin-bottom: 5px;
            padding: 5px;
            width: 100%;
            font-size: 14px;
            text-align: center;
            border: 2px solid $red;
            background-color: #fff;
            transition: linear .2s;

            &:hover {
                color: #fff;
                background-color: $red;
                transition: linear .2s;
                cursor: pointer;
            }

            &:active {
                background-color: #b21334;
            }

        }

        &__input {
            display: none;
        }

        &__info {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 13px;
            text-align: center;
            color: #aaa;
        }
    }

    &__search {
        display: flex;
        margin: 10px 0;

        &__label {
            display: inline-block;
            width: 100%;
        }

        &__field {
            padding: 20px 7px;
            height: 35px;
            width: 100%;
            border: 1px solid lightgrey;
            border-right: none;
            font-size: 15px;
            color: #111;

            &::placeholder {
                color: #999;
                font-style: italic;
            }
        }

        &__btn {
            margin-left: auto;
            padding:  5px;
            width: 71px;
            height: 42px;
            font-size: 13px;
            cursor: pointer;
            color: #777;
            background-color: transparent;
            border: 1px solid lightgrey;
        }
    }

    &__filters {
        position: relative;
        margin-bottom: 10px;

        &__title {
            display: block;
            margin-top: auto;
            height: 42px;
            text-align: center;
            color: $blue;
            line-height: 42px;
            border: 1px solid $blue;
            cursor: pointer;
            transition: linear .1s;

            &:hover {
                color: #fff;
                background-color: $blue;
                cursor: pointer;
            }

            &:active {
                background-color: #7099c9;
            }
        }

        &__list {
            position: absolute;
            top: 42px;
            left: 15px;
            right: 15px;
            padding: 15px;
            border: 1px solid $blue;
            border-top: none;
            background-color: #f3f3f3;
            z-index: $filters-list;
            transition: 0.1s linear;

            &__block {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__item {
                font-size: 14px;
                background-color: #fff;
                transition: linear .1s;

                &__label {
                    margin-top: -2px;
                    position: relative;
                    padding: 7px 5px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border-top: 2px dashed lightgrey;
                    border-bottom: 2px dashed lightgrey;
                    border-left: 2px dashed lightgray;
                }

                &__label--checked {
                    border-top: 2px solid lightgrey;
                    border-bottom: 2px solid lightgrey;
                    border-left: 2px solid lightgray;
                    cursor: auto;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 3px;
                        background-color: $red;
                    }

                    &:before {
                        height: 7px;
                        right: 20px;
                        top: 15px;
                        transform: rotate(-45deg);
                    }

                    &:after {
                        height: 20px;
                        right: 11.5px;
                        top: 5px;
                        transform: rotate(45deg);
                    }
                }

                &__input {
                    display: none;
                }

                &:hover {
                    background-color: lightgrey;
                    cursor: pointer;
                }

                &:active {
                    background-color: #c9c9c9;
                }
            }

            &__sub-item {
                margin-left: 20px;
                font-size: 13px;
                background-color: #fff;
                transition: linear .1s;

                &__sub-menu-separator {
                    display: block;
                    margin-left: 20px;
                    height: 20px;
                    border-left: 2px solid lightgrey;
                }
            }
        }
    }

    &__list {
        margin-bottom: 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

        &__file {
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid #ccc;

            &__user-name {
                display: inline-block;
                margin-top: 0;
                vertical-align: top;
                font-size: 14px;
            }

            &__preview {
                margin-bottom: 10px;
                padding: 0;
                cursor: pointer;
            }

            &__info-block {
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px dashed #ccc;
                background-color: #fbfcfe;

                &__ext-icon {
                    padding: 0;
                }

                &__info {
                    position: relative;
                    margin: 0;
                    display: flex;
                    vertical-align: top;
                }

                &__name {
                    display: block;
                    margin-left: 15px;
                    margin-top: 7px;
                    margin-bottom: 15px;
                    font-size: 14px;
                    white-space: pre-wrap;
                    white-space: -moz-pre-wrap;
                    white-space: -o-pre-wrap;
                    word-wrap: break-word;
                }

                &__info-icon {
                    position: absolute;
                    top: -7px;
                    right: 5px;
                    cursor: pointer;
                    transition: linear .2s;

                    &:hover {
                        border-radius: 50%;
                        box-shadow:  inset 0 0 10px black;
                        transition: linear .2s;
                    }
                }

                &__info-item {
                    display: block;
                    font-size: 13px;
                    color: #aaa;
                    margin-bottom: 3px;

                    &:last-child {
                        margin-bottom: 20px;
                    }
                }

                &__btn {
                    display: block;
                    margin-top: 12px;
                    padding: 5px;
                    width: 100px;
                    border: 2px solid $blue;
                    font-size: 13px;
                    color: black;
                    text-align: center;
                    text-decoration: none;
                    background: white;
                    cursor: pointer;
                    transition: linear .2s;

                    &:hover {
                        color: #fff;
                        background-color: $blue;
                    }

                    &:active {
                        background-color: #7099c9;
                    }
                }
            }

            &:last-child {
                border-bottom: 1px solid #ccc;
            }
        }

        &__not-found {
            position: relative;
            margin-top: 20px;
            text-align: center;

            &:before, &:after {
                content: '';
                position: absolute;
                top: -6px;
                width: 1px;
                height: 30px;
                background-color: #ccc;
                transform: rotate(90deg);
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }
    }

    &__cite {
        align-self: flex-start;
        margin: 10px auto;
        padding: 17px 10px;
        border: 1px solid #ccc;
        background-color: #fbfcfe;
        font-size: 14px;

        &__copyright {
            display: block;
            margin-top: 10px;
        }

    }

    &__show-more {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;

        &__btn {
            height: 35px;
            width: 290px;
            font-size: 14px;
            border: 2px solid $red;
            border-radius: 5px;
            background-color: white;
        }
    }
}

/////// PLAYER ///////
.player-wrapper {
    position: relative;
}

.player {
    display: none !important;
    top: 7px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    height: 45px;
    background-color: #fff;
    border-radius: 5px;
    z-index: $player;

    &__song-name {
        align-self: flex-start;
        margin: 0 0 7px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__vertical-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        width: auto;
        margin-right: 15px;
    }

    &__bar {
        position: relative;
        display: flex;
        flex-grow: 2;
        align-items: center;
        align-self: flex-start;
        margin-right: 15px;
        height: 4px;
        width: 100%;
        background-color: #eee;
        cursor: pointer;

        &__set-time {
            position: absolute;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $red;
        }

        &__progress {
            position: absolute;
            height: 4px;
            left: 0;
            width: 0;
            background-color: $blue;
        }

        &__loading-line {
            position: absolute;
            height: 4px;
            left: 0;
            width: 65%;
            background-color: #ddd;
        }
    }

    &__volume {
        & input {
            width: 50px;
            cursor: pointer;
        }
    }

    &__time {
        margin-left: 10px;
        font-size: 14px;
    }
}

/////// SONG ///////
.song {
    display: flex;
    border-radius: 5px;
    align-items: center;
}

/////// CONTROLS ///////
.player__play-pause-btn, .song__play-pause-btn {
    position: relative;
    margin-right: 15px;
    height: 30px;
    width: 30px;
    border: none;
    background: $blue;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.song__play-pause-btn {
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 5px;
}

.play-pause-btn {
    &__icon {
        &--pause {
            top: 8px;
            left: 10px;
            position: absolute;
            width: 3px;
            height: 14px;
            background-color: #fff;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 7px;
                width: 3px;
                height: 14px;
                background-color: #fff;
            }
        }

        &--play {
            top: 8px;
            left: 11px;
            position: absolute;
            width: 12px;
            height: 12px;
            border: 12px solid transparent;
            border-bottom: 7px solid transparent;
            border-top: 7px solid transparent;
            border-left-color: #fff;
        }
    }
}