{% extends 'layouts/hallelujah-layout.twig' %}
{% block content %}
    <section class="auth">
        <div class="container">
            <div class="row">
                <form action="" method="post" class="auth__form col-11 col-md-8 col-lg-7">
                    <div class="row">
                        <h1 class="auth__form__title col-12">
                            Вход
                            <hr class="auth__form__title-underline col-12">
                        </h1>
                        <label class="auth__form__label col-12">
                            Email:
                            <input type="email" class="auth__form__field" required>
                        </label>
                        <label class="auth__form__label col-12">
                            Пароль:
                            <input type="password" class="auth__form__field" required>
                        </label>
                        <button class="auth__form__btn">Let's go to heaven!</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}