{% block content %}
    {% if files %}
        {% for file in files %}
            {% include 'templates/file.twig' %}
        {% endfor %}
        {% if anyFilesLeft %}
            <div class="files__show-more col-12">
                <button class="files__show-more__btn" id="show-more-btn" onclick="showMoreFiles()">Показать еще</button>
            </div>
        {% endif %}
    {% else %}
        <li class="files__list__not-found">Ничего не найдено...</li>
    {% endif %}
{% endblock %}