{% extends 'layouts/hallelujah-layout.twig' %}
{% block content %}
    <div class="index">
        <div class="container">
            <div class="index__bg-logo col-8 ">
                <img src="/images/jesus-bg.png" class="index__bg-logo__img" alt="jesus-bg">
            </div>

            <form class="index__form row" method="post" action="" enctype="multipart/form-data">
                <label class="index__drop-box col-8 col-md-6 col-lg-5" id="drop-box" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                    <input class="index__drop-box__hidden-field" id="file-input" type="file" name="file">
                    <p class="index__drop-box__text" id="drop-box-text">Выберите файл <br>или перетащите его сюда</p>
                </label>
            </form>
        </div>
    </div>

{% endblock %}