{% block content %}
    <div class="popup-container element-is-collapsed" id="popup-container">
        <div class="blur-bg" id="blur-bg"></div>
        <form class="file-popup row" id="save-file-form" method="post" action="{{ path_for('') }}">
            <div class="file-popup__file-icon" id="file-icon"></div>
            <div class="file-popup__file-info col-12 col-sm-9" id="file-info"></div>
            <div class="controls">
                <span class="controls__close" id="control-close-main"></span>
            </div>
            <button class="file-popup__btn" type="button" id="upload-btn">Загрузить</button>
        </form>
    </div>

{% endblock %}